
@import '../node_modules//bootstrap/scss/bootstrap';

form {
  padding-bottom: 50px;

  &.loading {
    .form-group {
      div,
      input,
      input::placeholder,
      label,
      label::placeholder {
        background-color: #000;
        border-color: #000;
        box-sizing: border-box;
        color: #000;

        span {
          display: none;
        }
      }
    }
  }
}
